<header>
    <div ng-include='"includes/mainNav.html"'></div>
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 offset-sm-1 placard">
                    <h2>Front-end Development</h2>
                </div>
                <div class="col-sm-8 offset-sm-1 placard info">
                    <h3>Portfolio - Selected Work (2006-2017)</h3>
                    <p>Please click any icon below to enlarge.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="filter container-fluid">
    <div class="row">
        <div class="col-sm keywords">
            <div class="search">
                <label><h3>Search:</h3> <input ng-model="currentItem" type="text" title="Search" class="form-control" aria-label="Search" ></label>
            </div>
            <h3>Filter by keyword:</h3>
            <ul class="flat">
                <li ng-repeat="each in keywords.split(',')"><a ng-href="home/{{each}}" ng-class="{{each}}">{{each}}</a> </li>
            </ul>
        </div>
    </div>
</section>

<section class="mainlist">
    <div class="container-fluid">
        <div class="row" monitor-style="height" update-variable="height">
            <!-- barely explained https://plnkr.co/edit/?p=preview -->
            <div
                class="col-12 col-sm-6 col-md-4 col-lg-3"
                ng-repeat="each in food | filter: currentItem"
                ng-class="{ 'even': $even, 'odd': $odd }" >

                <ul class="itemList flat">
                    <li class="header">
                        <h3>
                            <a href="menu/{{ each.name }}">
                                <span class="image" style="background-image: url('assets/-images/{{each.icon}}');"></span>
                                <strong>{{ each.name }}</strong>
                            </a>
                        </h3>
                    </li>
                    <li class="details">
                        <p><span ng-repeat="each in each.technologies">{{ each }}, </span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="site promo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>About This Website</h3>
                    <p>Alexlais.com is an AngularJS single page application using ngRoute with HTML5 MODE enabled and loads data thru a ng-Repeat with a routeParams filter based on current URL.</p>
                    <p>It is hosted by GitHub, the repository url is: <a href="https://github.com/alexlais/dotcom">github.com/alexlais/dotcom</a>.</p>
                    <span class="cta"><a target="_blank" href="https://github.com/alexlais/dotcom">GitHub Repository</a></span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>Black Eyed Peas</h3>
                    <ul class="native">
                        <li><p>Said to bring luck when eaten on New Year's Day</p></li>
                        <li><p>Are high in protein and fiber</p></li>
                        <li><p>Are low in fat</p></li>
                    </ul>
                    <span class="cta"><a href="home">Eat It</a></span>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>Better CTA Options</h3>
                    <ul class="native">
                        <li><p>Get My... Why My...?</p></li>
                        <li><p>Give Me More, Show Me More, Tell Me More, I Want This</p></li>
                        <li><p>Find Out More, Explore, Discover, Get it</p></li>
                        <li><p>The Advantages, The Benefits</p></li>
                    </ul>
                    <span class="cta"><a href="home">Explore CTAs</a></span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>Utilities Migration to BS4</h3>
                    <p>The .hidden and .show classes have been removed</p>
                    <p>replaced by .hidden-xs-up .hidden-xs-down .hidden-sm-up .hidden-sm-down .hidden-md-up .hidden-md-down .hidden-lg-up .hidden-lg-down.</p>
                    <span class="cta"><a href="http://www.nytimes.com/pages/dining/index.html">Explore Food</a></span>
               </div>
            </div>
        </div>
    </div>
</section>

<div ng-include='"includes/footer.html"'></div>
