<!-- float-sm-right -->
<!-- div ng-repeat="each in food | filter: currentItem" -->

<!-- mainNav - - - - - - - - - - - - - -->
<header>
    <ng-include src="'includes/mainNav.html'"></ng-include>
</header>

    <!-- banner - - - - - - - - - - - - - -->

<div ng-repeat="each in food | filter: currentItem">
    <div class="container-fluid banner">
        <div class="row">

            <!-- placard name - - - - - - - - - - - - - -->
            <div class="col-xs col-md-10 offset-md-1 placard">
                <h2>{{each.employer}}</h2>
            </div>
            <div class="col-xs col-md-10 offset-md-1 placard info">
                <h3><a class="external" target="_blank" ng-href="{{each.url}}">{{each.name}} <span></span></a></h3>
                <div class="row">
                    <div class="col-xs col-lg-7 summary">
                        <div>
                            <h4>Summary</h4>
                            <div ng-repeat="each in each.description" ng-bind-html="each"></div> 
                            <ul class="native">                        
                                <li ng-repeat="each in each.descriptionList"  ng-bind-html="each"></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="col-xs col-lg-5">
                        <div class="row">
                            <div class="col-xs-bugfix col-sm {{each.duration.applicable}}">
                                <h4>Duration</h4>
                                <p class="duration"><strong>From:</strong> <c>{{each.duration.from}}</c> <br><strong>To:</strong> <c>{{each.duration.to}}</c></p>
                            </div>
                            <div class="col-xs-bugfix col-sm {{each.duration.date}}">
                                <h4>Project Date</h4>
                                <p class="duration"><strong>Year:</strong> <c>{{each.duration.date}}</c></p>
                            </div>

                            <div class="col-xs-bugfix col-sm">
                                <h4>Location</h4>
                                <address>{{ each.address.street}} <c class="block">{{ each.address.cityState}}</c></address>
                            </div>

                            <div class="col-sm-12">
                                <h4 class="border">Technologies</h4>
                                <p class="technologies">
                                    <span>The following total of {{each.technologies.length}} technologies were used in this project:</span>
                                    <span ng-repeat="each in each.technologies"><a ng-class="{{each}}" ng-href="home/{{each}}">{{each}}</a> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md-10 offset-md-1 placard screenshots {{ each.image.image }}">
                <h4>Screen Shots</h4>                         
                <span ng-repeat="each in each.image"><img ng-src="assets/-images/{{each}}"></span>
                <span class="large" ng-repeat="each in each.imageL"><img ng-src="assets/-images/{{each}}"></span>
            </div>

            <div class="col-xs col-sm-12 item promo">
                <div class="row">
                    <!-- item promo I - - - - - - - - - - - - - -->
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>20% <br>OFF</h3>
                            <p>A baked sweet potato contains over 400% of your daily</p>
                        </div>
                    </div>

                    <!-- item promo II - - - - - - - - - - - - - -->
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Best Sellers!</h3>
                            <p><a href="home">Rice Noodles</a></p>
                            <p><a href="home">lorem Ipsun</a></p>
                            <p><a href="home">Dollor sit Amet consectetur</a></p>
                       </div>
                    </div>

                    <!-- item promo III - - - - - - - - - - - - - -->
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Black Eyed Peas</h3>
                            <p>In season $6.00 cup</p>
                            <span class="cta"><a href="home">Eat It</a></span>
                        </div>
                    </div>

                    <!-- item promo IV - - - - - - - - - - - - - -->
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Pasta Di Casa</h3>
                            <p>Are low in fat and high in fiber</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="site promo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>Did you Know?</h3>
                    <p>Lorem ipsum dolor sit amet, eos ad delectus adolescens dissentiet, meis quas eum eu. </p>
                    <p>Eos ad delectus adolescens dissentiet, meis quas eum eu. Et minim utroque quo, eum cu tacimates sensibus philosophia.</p>
                    <span class="cta"><a href="home">Tell Me More</a></span>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="gutter text-center">
                    <h3>Black Eyed Peas</h3>
                    <ul class="native">
                        <li><p>Said to bring luck when eaten on New Year's Day</p></li>
                        <li><p>Are high in protein and fiber</p></li>
                        <li><p>Are low in fat</p></li>
                    </ul>
                    <span class="cta"><a href="home">Eat It</a></span>
               </div>
            </div>
        </div>
    </div>
</section>

<div ng-include='"includes/footer.html"'></div>
