<!-- float-sm-right -->
<!-- div ng-repeat="each in food | filter: currentItem" -->

<!-- mainNav - - - - - - - - - - - - - -->
<header>
    <ng-include src="'includes/mainNav.html'"></ng-include>
</header>

    <!-- banner - - - - - - - - - - - - - -->

<div ng-repeat="each in food | filter: currentItem">
    <div class="container-fluid banner">
        <div class="row">

            <!-- placard name - - - - - - - - - - - - - -->
            <div class="col-xs col-md-10 offset-md-1 placard">
                <h2>{{each.employer}}</h2>
            </div>
            <div class="col-xs col-md-10 offset-md-1 placard info">
                <h3><a class="external" target="_blank" ng-href="{{each.url}}">{{each.name}} <span></span></a></h3>
                <div class="row">
                    <div class="col-xs col-lg-7 summary">
                        <div>
                            <h4>Summary</h4>
                            <div ng-repeat="each in each.description" ng-bind-html="each"></div> 
                            <ul class="native">                        
                                <li ng-repeat="each in each.descriptionList"  ng-bind-html="each"></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="col-xs col-lg-5">
                        <div class="row">
                            <div class="col-6 {{each.duration.applicable}}">
                                <h4>Duration</h4>
                                <p class="duration"><strong>From:</strong> <c>{{each.duration.from}}</c> <br><strong>To:</strong> <c>{{each.duration.to}}</c></p>
                            </div>
                            <div class="col-6 {{each.duration.date}}">
                                <h4>Project Date</h4>
                                <p class="duration"><strong>Year:</strong> <c>{{each.duration.date}}</c></p>
                            </div>

                            <div class="col-6">
                                <h4>Location</h4>
                                <address>{{ each.address.street}} <c class="block">{{ each.address.cityState}}</c></address>
                            </div>

                            <div class="col-sm-12">
                                <h4 class="border">Technologies</h4>
                                <p class="technologies">
                                    <span>The following total of {{each.technologies.length}} technologies were used in this project:</span>
                                    <span ng-repeat="each in each.technologies"><a class="{{each}}" ng-href="home/{{each}}">{{each}}</a> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md-10 offset-md-1 placard screenshots {{ each.image.image }}">
                <h4>Screen Shots</h4>                         
                <span ng-repeat="each in each.image"><img ng-src="assets/-images/{{each}}"></span>
                <span class="large" ng-repeat="each in each.imageL"><img ng-src="assets/-images/{{each}}"></span>
            </div>

            <!-- div class="col-xs col-sm-12 item promo">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>20% <br>OFF</h3>
                            <p>A baked sweet potato contains over 400% of your daily</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Best Sellers!</h3>
                            <p><a href="home">Rice Noodles</a></p>
                            <p><a href="home">lorem Ipsun</a></p>
                            <p><a href="home">Dollor sit Amet consectetur</a></p>
                       </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Black Eyed Peas</h3>
                            <p>In season $6.00 cup</p>
                            <span class="cta"><a href="home">Eat It</a></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="gutter text-center">
                            <h3>Pasta Di Casa</h3>
                            <p>Are low in fat and high in fiber</p>
                        </div>
                    </div>
                </div>
            </div -->
        </div>
    </div>
</div>


<section class="promo">
    <div class="container-fluid">
        <div class="row first">
            <!-- div class="col-md-10 offset-md-1" -->
            <div class="col-12">
                <div class="gutter text-center">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h3>About This Website</h3>
                            <p>Alexlais.com is an AngularJS single page application using ngRoute with HTML5 Mode enabled and loads data thru a ngRepeat with a routeParams filter based on the current URL.</p>
       
                            <img class="icon" src="assets/-icons/githubBlue.png" width="30px" height="auto">                  
                            <p><strong>Hosted by GitHub</strong>
                                <br>This Angular application is currently <c>hosted by GitHub</c>. The production repository is <a href="https://github.com/alexlais/dotcom"><c>github.com/alexlais/dotcom</c></a>.
                            </p>
                        </div>
                    </div>
                    <span class="cta"><a target="_blank" href="https://github.com/alexlais/dotcom">GitHub Repository</a></span>
               </div>
            </div>
            <div class="col-12">
                <div class="gutter text-center">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h3>AngularJS Route Template</h3>
                            <p>The template used for the development of this website can be found at the AngularJS <c>API $route page</c></p>                    
                        </div>
                    </div>

                    <span class="cta"><a target="_blank" href="https://docs.angularjs.org/api/ngRoute/service/$route">AngularJS API $route</a></span>
                    
                    <ul class="promoBox flat">
                        <li class="promoBox-header"><strong>Current Route Info:</strong></li>
                        <li>Current item filter: <span>{{currentItem}}</span></li>
                        <li>$location.path(): <span>{{$location.path()}}</span></li>
                        <li>$route.current.templateUrl: <span>{{$route.current.templateUrl}}</span></li>
                        <li>$route.current.params: <span>{{$route.current.params}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include='"includes/footer.html"'></div>
